<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container w-full">
      <div class="flex flex-row justify-center">
        <div class="flex flex-col p-4 pt-6 basis-1/4 w-full">
          <div>
            <img class="h-28 w-28" src="./button.png" alt="" />
          </div>
          <div>Dashboard</div>
          <div>Categories</div>
          <div>Register Admin</div>
          <div>Sign Out</div>
        </div>
        <div class="basis-3/4 w-full">02</div>
      </div>
    </div>
  </body>
</html>
